@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.reset-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left !important;
    background-color: transparent;
    width: 415px;
    height: 320px;
}

.reset-password-container{
    display: flex;
    flex-direction: row;
    background-color: #f2f4f7;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fc;
}

.reset-password-form-button {
    width: 400px;
    padding: 15px;
    background-color: #2762f2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 15px;
}

@media (max-width: 1100px){
    .image-container{
        display: none;
        z-index: -1;
    }
    .reset-password-form h2{
        text-align: center !important;
    }
}

@media (max-width: 435px){
    .reset-password-form{
        width: 330px !important;
        height: 387px !important;
    }
    .reset-password-form button{
        width: 330px !important;
    }
    .reset-password-input{
        width: 330px !important;
    }
    .reset-password-form h2{
        font-size: 28px !important;
    }
    .text{
        font-size: 10px !important;
        line-height: 14px !important;

    }
}

.reset-password-input{
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
    width: 400px;
    height: 48px !important;
    margin-bottom: 15px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #f2f4f7;
    box-shadow: none !important;
}

.reset-password-input:hover{
    border-color: #2762F2 !important;
}

.reset-password-input:focus{
    border-color: #2B2F33 !important;
}

.reset-password-form h2 {
    margin-bottom: 30px;
    margin-top: 0px;
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    letter-spacing: -0.800000011920929px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.text{
    color: #707A8A;
    font-family: "Inter", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 0px;
    margin-bottom: 12px;

}